* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar,
.hamburger  {
    font-size: 18px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-top: 20px;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links,
.logo {
    text-decoration: none;
    color: #B24646;
}

.nav-links:hover {
    color: #0091AD;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: xx-large;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color:  #B24646;
    font-size: 24px;
}

.active {
    display: block;
}

.hamburger {
    padding-right: 30px;
}

/* Main section */

.features {
    background-color: white;
    grid-area: section-1;
    height: 600px;
}

.why {
    background-color: #0091AD;
    grid-area: section-2;
    height: 600px;
}

.pricing {
    background-color: #C9D3E4;
    grid-area: section-3;
    height: 600px;
}

footer {
    grid-area: footer;
    height: 100px;
}

.container {
    min-height: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "section-1"
      "section-2"
      "section-3"
      "footer";

}
/* For Tablets */
@media only screen and (min-width: 500px) { 
}

/* For Desktop */
@media only screen and (min-width: 1000px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 140px;
        align-items: center;
        padding-right: 80px;
        padding-left: 80px;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        display: none;
    }
}
}
